//
// Tszuj up the buttons, darling
// --------------------------------------------------

.button { 
    font-weight: normal; 
    &.success { 
        @include background-image(linear-gradient(top, lighten($successColor,5%), darken($successColor,5%) ));
        &:hover { background-color:darken($successColor,5%); }
    }
    &.alert { 
        @include background-image(linear-gradient(top, lighten($alertColor,5%), darken($alertColor,5%) ));
        &:hover { background-color:darken($alertColor,5%); }
    }
    &.secondary { 
        @include background-image(linear-gradient(top, lighten($secondaryColor,5%), darken($secondaryColor,5%) ));
        &:hover { background-color:darken($secondaryColor,5%); }
    }

    @include background-image(linear-gradient(top, lighten($mainColor,5%), darken($mainColor,5%) ));

    &:hover { 
        background-image:none;
        background-position: 0 -15px;
        background-color:darken($mainColor,5%);
        @include transition(background-position .15s linear, background-image .2s linear, background-color .2s linear);
    }

    &.large     { font-size: ms(1) + 3; }
    &.medium    { font-size: ms(0) + 2; }
    &.small     { font-size: ms(0) - 2; }
    &.tiny      { font-size: ms(0) - 3; }
    font-size: ms(0) + 1;
}