// (Foundation) Uses overflow:hidden to clearfix the container,
// let's use a real clearfix instead...
.block-grid { 
    overflow: visible;
    @include clearfix();
}

// Separators
//--------------------------------------------------

.separator {
    &.bottom {
        padding-bottom: 15px;
        margin-bottom:15px; 
        border-bottom:2px dashed $borderColor;
        &.shadow { border-bottom:none; @include single-box-shadow($gray, 0, 15px, 15px, -15px); }
    }
    &.right {
        float: none;        
        padding-right: $columnGutter;
        border-right:2px dashed $borderColor;
        background:transparent;
        &.shadow { border-right:none; @include single-box-shadow($gray, 15px, 0, 15px, -15px); margin-right: 15px; }
    }
}