// Misc
//--------------------------------------------------

@mixin true-height($height) {
    height: $height * 1px;
    line-height: $height * 1px;
}

@mixin font-size($size, $is-important: false) {
    @if $is-important {
        font-size: $size * 1px !important;
        font-size: ($size / 10) * 1rem !important;
    } @else {
        font-size: $size * 1px;
        font-size: ($size / 10) * 1rem;
    }
}

@mixin reset {
    padding:0px;
    margin:0px;
    border:none;
    line-height:normal;
    list-style:none;
}