
// Positioning
//--------------------------------------------------

@mixin pos-tl($left: 0, $top: 0) {
    position:absolute;
    top: $top * 1px;
    left: $left * 1px;
}

@mixin pos-bl($left: 0, $bottom: 0) {
    position:absolute;
    bottom: $bottom * 1px;
    left: $left * 1px;
}

@mixin pos-tr($right: 0, $top: 0) {
    position:absolute;
    top: $top * 1px;
    right: $right * 1px;
}

@mixin pos-br($right: 0, $bottom: 0) {
    position:absolute;
    bottom: $bottom * 1px;
    right: $right * 1px;
}


// Misc
//--------------------------------------------------

@mixin true-height($height) {
    height: $height * 1px;
    line-height: $height * 1px;
}

@mixin font-size($size, $is-important: false) {
    @if $is-important {
        font-size: $size * 1px !important;
        font-size: ($size / 10) * 1rem !important;
    } @else {
        font-size: $size * 1px;
        font-size: ($size / 10) * 1rem;
    }
}

@mixin reset {
    padding:0px;
    margin:0px;
    border:none;
    line-height:normal;
    list-style:none;
}