
// Text scale
//--------------------------------------------------

$base-size: 14px 44px;

// Base colors
//--------------------------------------------------

$primaryColor: #3980bd;
$shadeColor: #FFFFDD;

$errorColor:        #333333;
$errorBgColor:      #F1D43C;
$errorBorderColor:  #F1D43C;

$btnBase: 9px;
$tinyBtnBase: 4px;
$smallBtnBase: 6px;
$largeBtnBase: 14px;

// Typography
//--------------------------------------------------

$headerFont: "PTSans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$headerColor: #222;
$headerFontWeight: normal;
$textFont: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$textColor: #222;
