// Ratios
$golden: 1.618;
$gold: $golden;
$double-octave: (4 / 1);
$major-twelfth: (3 / 1);
$major-eleventh: (8 / 3);
$major-tenth: (5 / 2);
$octave: (2 / 1);
$major-seventh: (15 / 8);
$minor-seventh: (16 / 9);
$major-sixth: (5 / 3);
$minor-sixth: (8 / 5);
$fifth: (3 / 2);
$augfourth: (1 / 1.4142135623730950488); // (1 / square root 2)
$fourth: (4 / 3);
$major-third: (5 / 4);
$minor-third: (6 / 5);
$major-second: (9 / 8);
$minor-second: (16 / 15);

/* Requires: normalize.css */

/* Global Reset & Standards ---------------------- */

* { @include box-sizing(border-box); }
html { font-size: 62.5%; }
body { background: $white; font-family: $bodyFontFamily; font-size: ms(0); line-height: 1; color: $bodyFontColor; position: relative; -webkit-font-smoothing: antialiased; }

/* Links ---------------------- */

a { color: $mainColor; text-decoration: none; line-height: inherit; }
a:hover { color: darken($mainColor, 5%); }
a:focus { color: $mainColor; outline: none; }
p a, p a:visited { line-height: inherit; }

/* Misc ---------------------- */

.left        { float: left; }
.right       { float: right; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.hide        { display: none; }
.highlight   { background: $highlightColor; }

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }

/* Reset for strange margins by default on <figure> elements */
figure { margin: 0; }
