/* -------------------------------------------------- 
:: Common
----------------------------------------------------- */

// Fix for Google maps
.google_map {
    * { @include box-sizing(content-box); }
    img { max-width: none; height: auto; }
}

// Make orbit bullets transparent
ul.orbit-bullets li {
	background-image: image-url("utility/orbit-bullets.png");
}

// IE Fix
a img { border:none; }

/* -------------------------------------------------- 
:: Typography
----------------------------------------------------- */
@import "typography";

/* -------------------------------------------------- 
:: Icons
----------------------------------------------------- */
@import "icons";

/* -------------------------------------------------- 
:: Tables
----------------------------------------------------- */
@import "tables";

/* -------------------------------------------------- 
:: Images
----------------------------------------------------- */
@import "images";

/* -------------------------------------------------- 
:: Forms
----------------------------------------------------- */
@import "forms";
