// Forms mods
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { 
	outline: none;
	border-top: $inputBorderWidth $inputBorderStyle darken($inputBorderColor,15%);
	@include transition(none);

	&:focus { @include box-shadow(0 1px 0 $darkEdge inset); }
}

span.prefix, span.postfix { border-bottom-width: 2px; }

// Quantity selector
span.custom-input-quantity {
	display: block;
	position: relative;
	width: 57px;

	>input {
		height: 26px;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 20px;
		display: block;			
	}
	
	a.arrow {
		font-family: FontAwesome;
		position: absolute;
		right: 0;
		
		width: 17px;
		height: 13px;
		line-height: 15px;
		text-align: center;
		outline: none;

		color: lighten($linkColor, 40%);
		border: 1px solid darken($primaryColor, 10%);
		background-color: darken($primaryColor, 10%);
		@include background-image(linear-gradient(top, lighten($primaryColor,5%), darken($primaryColor,5%) ));
		@include box-shadow(0 1px 0 $shinyEdge inset, 0 1px 1px darken($primaryColor,20%) inset);

		span { display: block; text-indent: -99999px; line-height: 0; overflow: hidden; }
		&:hover { @include background-image(linear-gradient(top, lighten($primaryColor,8%), darken($primaryColor,8%) )); background-color: darken($primaryColor, 13%); color: lighten($linkColor, 20%); }
	    &:active  { @include box-shadow(0 1px 0 $darkEdge inset); }
	    &:focus { @include box-shadow(0 0 4px opacify($mainColor, 0.3), 0 1px 0 $shinyEdge inset); color: $white; }
		&.up { top: 0; border-bottom: none; @include border-radius(2px 4px 0 0);
			&:before { content: "\f0d8"; }
		}
		&.down { top: 13px; border-top: none; @include border-radius(0 0 4px 2px);
			&:before { content: "\f0d7"; }
		}
	}


}

// Date input
span.input-date {
	position: relative;
	&:after { 
		font-family: FontAwesome;
		font-size: 22px;
		content: "\f073"; 
		position: absolute; 
		right: 4px; 
		text-indent: 1em;
		top:0; 
		line-height: 1;
		color: lighten($red, 40%); 
	}
}

// Form actions
.form-actions {
	padding: 12px 0 0; 
	margin: 18px 0;
	border-top: 1px solid $borderColor;
	@include clearfix();
}

