// Images
// -------------------------

// Rounded corners
img.rounded, .img-rounded {
  @include border-radius(6px);
}

// Add polaroid-esque trim
img.polaroid, .img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  @include box-shadow($grayDark 0 1px 3px);
  //-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  //   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  //        box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

// Perfect circle
img.circle, .img-circle {
  @include border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

// Image shadow
// <div class="img-shadow circle"><img src="..." class="circle" /></div>
.img-shadow {
    position: relative;
    max-width: 100%;
    float: $defaultFloat;
    img {
        float: $defaultFloat;        
    }
    &::before {
        @include box-shadow($black 2px 4px 7px inset);
        @include opacity(.7);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        &.rounded { @extend img.rounded; }
        &.circle { @extend img.circle; }
    }
    &.right { 
        float: $defaultOpposite; 
        img.right { float: $defaultOpposite; }
    }
}
