h1, h2, h3, h4, h5, h6 {
    &.separated {
        border-bottom:1px solid $borderColor;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
    }
}

hr { 
    border-color: $borderColor;
}

a { 
    color: $linkColor; 
    &:hover { color: $linkHoverColor; }
    &:focus { color: $linkFocusColor; }
    &:active { color: $linkActiveColor; }
}

.muted { color: $quietColor; }
a.muted:hover { color: darken($quietColor, 10%); }

// Alignment
//--------------------------------------------------

.taj, .align_justify, .align-justify { text-align:justify; }
.tac, .align_center, .align-center { text-align:center; }
.tal, .align_left, .align-left { text-align:left; }
.tar, .align_right, .align-right { text-align:right; }
.ttu, .uppercase { text-transform:uppercase; }
.ttl, .lowercase { text-transform:lowercase; }
.ttc, .capitalize { text-transform:capitalize; }

.fl, .float_left, .pull_left, .pull-left { @extend .left; }
.fr, .float_right, .pull_right, .pull-right { @extend .right; }

// Addresses
//--------------------------------------------------

address {
    display: block;
    margin-bottom: 1.5em;
    font-style: normal;
    line-height: 1.6;
}

// Patches
//--------------------------------------------------

// (Foundation) Insists on position being inside, no idea why?
ul, ol { list-style-position: outside; }

// (Foundation) Add no bullets to ordered lists
ol {
    &.no-bullet { list-style: none; }    
}

// Fixes issue with Bootstrap tables and alignment
table .align_right { text-align: right !important; }
