// Colors
//--------------------------------------------------

$primaryColor:   #2ba6cb !default;
$secondaryColor: #e9e9e9 !default;
$shadeColor:     #FFFFDD !default;

// Typography
//--------------------------------------------------

$baseLineHeight: 15px !default;
$textFont:       "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$textColor:      #222 !default;
$altTextColor:   #666666 !default;

$quietColor:   lighten($textColor, 20%) !default;
$loudColor:    darken($textColor, 13.33%) !default;

$headerFont:   "PTSans", "Helvetica Neue", "Helvetica", Arial, sans-serif !default;
$headerColor:  darken($textColor, 6.67%) !default;

// Links
//--------------------------------------------------

$linkColor:         #09f !default;
$linkHoverColor:    #06c !default;
$linkFocusColor:    $linkHoverColor !default;
$linkActiveColor:   lighten(adjust-hue($linkColor, 75deg), 10%) !default;
$linkVisitedColor:  darken($linkColor, 10%) !default;

// Forms
//--------------------------------------------------

$feedbackBorderColor: #dddddd !default;
$successColor:        #264409 !default;
$successBgColor:      #e6efc2 !default;
$successBorderColor:  #c6d880 !default;
$noticeColor:         #514721 !default;
$noticeBgColor:       #fff6bf !default;
$noticeBorderColor:   #ffd324 !default;
$infoColor:           #205791 !default;
$infoBgColor:         #d5edf8 !default;
$infoBorderColor:     #92cae4 !default;
$errorColor:          #8a1f11 !default;
$errorBgColor:        #fbe3e4 !default;
$errorBorderColor:    #fbc2c4 !default;

// Basic Scale
//--------------------------------------------------

$blue:           #08b5fb !default;
$green:          #46a546 !default;
$red:            #9d261d !default;
$yellow:         #ffc40d !default;
$orange:         #f89406 !default;
$pink:           #c3325f !default;
$purple:         #7a43b6 !default;

// Grey Scale
//--------------------------------------------------

$black:         rgb(0,0,0) !default;
$grayDark:      lighten($black, 25%) !default;
$gray:          lighten($black, 50%) !default;
$grayLight:     lighten($black, 75%) !default;
$grayLighter:   lighten($black, 90%) !default;
$white:         rgb(255,255,255) !default;

// Palettes
//--------------------------------------------------

$primaryLight1: lighten($primaryColor, 5%) !default;     // Lighten base
$primaryLight2: lighten($primaryColor, 10%) !default;
$primaryLight3: lighten($primaryColor, 15%) !default;
$primaryLight4: lighten($primaryColor, 20%) !default;

$primaryDark1: darken($primaryColor, 5%) !default;      // Darken base
$primaryDark2: darken($primaryColor, 10%) !default;
$primaryDark3: darken($primaryColor, 15%) !default;
$primaryDark4: darken($primaryColor, 20%) !default;

$secondaryLight1: lighten($secondaryColor, 5%) !default;     // Lighten complementary
$secondaryLight2: lighten($secondaryColor, 10%) !default;
$secondaryLight3: lighten($secondaryColor, 15%) !default;
$secondaryLight4: lighten($secondaryColor, 20%) !default;

$secondaryDark1: darken($secondaryColor, 5%) !default;      // Darken complementary
$secondaryDark2: darken($secondaryColor, 10%) !default;
$secondaryDark3: darken($secondaryColor, 15%) !default;
$secondaryDark4: darken($secondaryColor, 20%) !default;

// Buttons
//--------------------------------------------------

$buttonPrimaryColor:   $secondaryLight4 !default;      // Change to a suitable primary button colour as needed.
$buttonSecondaryColor: $primaryLight4 !default;       // Change to a suitable secondary button colour as needed.
$buttonWhiteColor:     $grayLighter !default;
$buttonBlackColor:     $grayDark !default;

// Tables
//--------------------------------------------------

$tableColor:            lighten($primaryColor, 45%) !default;        // Change to a visible colour if it is not displaying
$tableBackground:       transparent !default; // overall background-color
$tableBackgroundAccent: #f9f9f9 !default; // for striping
$tableBackgroundHover:  #f5f5f5 !default; // for hover
$tableBorder:           #ddd !default; // table and cell border
