
// Foundation wrapper
//--------------------------------------------------

$txtColor: $textColor;
$mainColor: $primaryColor;
$bodyFontColor: $textColor;
$headerFontFamily: $headerFont;
$headerFontColor: $headerColor;