
// Foundation wrapper
//--------------------------------------------------

$txtColor: $textColor;
$mainColor: $primaryColor;
$bodyFontFamily: $textFont;
$bodyFontColor: $textColor;
$bodyFontWeight: $textWeight;
$headerFontFamily: $headerFont;
$headerFontColor: $headerColor;
$alertColor: $errorColor;