.link_button {
	background-color: @secondaryColor; 
	color: darken((@secondaryColor), 80%); 
	padding: 6px 10px;
	display: inline-block;
	.ms-font-size(0 - 1);  /* TODO: was ms(0) - 1 */
	line-height: 100%;
	text-decoration: none;

	/* Radii */
	&.radius { .border-radius(@buttonRadius); }
	&.round { .border-radius(1000px); }

	/* Layout */
	/* TODO: nandesuka: &.full-width { width: 100%; text-align: center; ~"padding-@{defaultFloat}": 0px !important; ~"padding-@{defaultOpposite}": 0px !important; } */
	&.left-align { text-align: left; text-indent: 12px; }    
}

a:hover.link_button, a:hover > span.link_button {
	background-color: @primaryColor;
	color: @white;
}
